<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ecust.dao.EscoreMapper">
    <insert id="addEscore" parameterType="cn.ecust.entity.Escore" keyProperty="sid" useGeneratedKeys="true">
        insert into Escore
        (examId,sNumber,score,totalScore)
        values(#{examId},#{sNumber},#{score},#{totalScore})
    </insert>
    <update id="updateScore">
        update Escore
        set
            score = #{score}
        where sid = #{sid}
    </update>
    <delete id="deleteEscore">
        delete
        from Escore
        where sid=#{sid}
    </delete>
    <select id="selectAll" resultType="cn.ecust.entity.Escore">
        select *
        from Escore
    </select>
</mapper>