<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" th:href="@{/bootstrap.min.css}">
    <link href="/static/jquery.dataTables.min.css" rel="stylesheet" th:href="@{/jquery.dataTables.min.css}"
          type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="/static/jquery-3.5.1.min.js" th:src="@{/jquery-3.5.1.min.js}"></script>
    <script src="/static/bootstrap.min.js" th:src="@{/bootstrap.min.js}"></script>
    <script src="/static/jquery.dataTables.min.js" th:src="@{/jquery.dataTables.min.js}"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="/static/myjQ.js" th:src="@{/myjQ.js}"></script>
    <style type="text/css">
/*    body{
		background: url('') no-repeat 0px 0px;
        background-size: 100% 100%;
	}
    html,body{
        height: 100%;
        overflow: auto;
    }
    */
    footer{
        text-align: center;
        font-family: sans-serif;
        right: 0px;
        left: 0px;
        color: dodgerblue;
    }
    footer span{
        font-weight: bold;
    }




    </style>
    <title>教师信息展示</title>
</head>
<body>
<!--导航栏设计-->
<div th:fragment="navbarmod">
    <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #e3f2fd">
        <div class="container-fluid">
            <div class="navbar-brand">
                <img alt="building" height="16" src="/static/SVG/building.svg" th:src="@{/SVG/building.svg}" width="16">
                <span style="font-style: fantasy;color: blueviolet;font-weight: bold;">GMIS</span>
            </div>
            <!--<a class="navbar-brand" href="#">Navbar</a>-->
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="mainView">
                            <img alt="house-heart" height="16" src="/static/SVG/house-heart.svg"
                                 th:src="@{/SVG/house-heart.svg}" width="16">
                            首页
                        </a>
                    </li>
                    <li class="nav-item TEA">
                        <a aria-current="page" class="nav-link active" href="allQuestions">
                            <img alt="stack" height="16" src="/static/SVG/stack.svg" th:src="@{/SVG/stack.svg}"
                                 width="16">
                            题库
                        </a>
                    </li>
                    <li class="nav-item TEA">
                        <a aria-current="page" class="nav-link active" data-bs-target="#exampleModal5"
                           data-bs-toggle="modal" id="Modal5"
                           type="button">
                            <img alt="safe-fill" height="16" src="/static/SVG/safe-fill.svg"
                                 th:src="@{/SVG/safe-fill.svg}" width="16">
                            专业考试添加
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-current="page" class="nav-link active" href="allScore">
                            <img alt="stars" height="16" src="/static/SVG/stars.svg" th:src="@{/SVG/stars.svg}"
                                 width="16">
                            成绩查询
                        </a>
                    </li>
                    <li class="nav-item TEA DEF">
                        <a aria-current="page" class="nav-link active" href="allStudent">
                            <img alt="file-person-fill" height="16"
                                 src="/static/SVG/file-person-fill.svg" th:src="@{/SVG/file-person-fill.svg}"
                                 width="16">
                            学生信息
                        </a>
                    </li>
                    <li class="nav-item TEA DEF">
                        <a aria-current="page" class="nav-link active" href="allExam">
                            <img alt="clipboard2-check-fill" height="16"
                                 src="/static/SVG/clipboard2-check-fill.svg" th:src="@{/SVG/clipboard2-check-fill.svg}"
                                 width="16">
                            考试信息
                        </a>
                    </li>
                    <li class="nav-item DEF">
                        <a aria-current="page" class="nav-link active" href="allTeacher">
                            <img alt="person-badge" height="16" src="/static/SVG/person-badge.svg"
                                 th:src="@{/SVG/person-badge.svg}" width="16">
                            教师信息
                        </a>
                    </li>
                    <li class="nav-item DEF">
                        <a aria-current="page" class="nav-link active" href="allUser">
                            <img alt="person-workspace" height="16"
                                 src="/static/SVG/person-workspace.svg" th:src="@{/SVG/person-workspace.svg}"
                                 width="16">
                            已注册用户信息
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">功能待扩展...</a>
                    </li>
                </ul>
                <div class="navbar-brand navbar-right">
                    <a class="nav-link disabled" id="Roles" style="font-style: sans-serif;font-size:16px;"></a>
                </div>
                <div class="navbar-right nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        <button class="btn btn-outline-info" type="button">
                            <img alt="person" height="16" src="/static/SVG/person.svg" th:src="@{/SVG/person.svg}"
                                 width="16">
                            <span class="Num1"></span>
                        </button>
                    </a>
                    <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <li><a class="dropdown-item" href="mainView">首页</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item TEA" href="allQuestions" style="display: none;">题库</a></li>
                        <li>
                            <button class="dropdown-item TEA" data-bs-target="#exampleModal5" data-bs-toggle="modal"
                                    style="display: none" type="button">添加专业考试
                            </button>
                        </li>
                        <li><a class="dropdown-item DEF" href="#" style="display: none;">添加全专业统考</a></li>
                        <li>
                            <hr class="dropdown-divider TEA DEF" style="display: none;">
                        </li>
                        <li><a class="dropdown-item STU" href="allScore" style="display: none;">成绩查询</a></li>
                        <li><a class="dropdown-item TEA DEF" href="allStudent" style="display: none;">学生信息</a></li>
                        <li><a class="dropdown-item TEA DEF" href="allExam" style="display: none;">考试信息</a></li>
                        <li><a class="dropdown-item DEF" href="allTeacher" style="display: none;">教师信息</a></li>
                        <li><a class="dropdown-item DEF" href="allUser" style="display: none;">已注册用户信息</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <button class="dropdown-item" data-bs-target="#exampleModal4" data-bs-toggle="modal"
                                    id="UpPas"
                                    type="button">修改密码
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="navbar-brand navbar-right">
                    <a aria-controls="offcanvasExample" class="btn btn-outline-warning"
                       data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                       style="font-style: sans-serif;font-size:16px;">
                        <img alt="person-check-fill" height="16"
                             src="/static/SVG/person-check-fill.svg" th:src="@{/SVG/person-check-fill.svg}" width="16">
                        个人信息</a>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--表格设计-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small style="font-family: '楷体';color: #BE7140E0">用户列表<img alt="building"
                                                                               height="48"
                                                                               src="/static/SVG/arrow-right-short.svg"
                                                                               th:src="@{/SVG/arrow-right-short.svg}"
                                                                               width="48">教师信息</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 column">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">新增</button>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped table-primary table-bordered border-info display"
                   id="TablePage">
                <thead class="table-light">
                <tr class="text-center">
                    <th>工号(编号)</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>教授专业</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="Teacher : ${all}">
                    <td th:text="${Teacher.tNumber}"></td>
                    <td th:text="${Teacher.tName}"></td>
                    <td th:text="${Teacher.tSex}"></td>
                    <td th:text="${Teacher.tSubject}"></td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-warning btn-sm" data-bs-target="#exampleModal" data-bs-toggle="modal"
                               id="UpDate">更改</a>
                            <a class="btn btn-danger btn-sm" data-bs-target="#exampleModal2" data-bs-toggle="modal"
                               id="DelEte">删除</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--侧边栏设计-->
<div th:fragment="offcanvas">
    <div aria-labelledby="offcanvasExampleLabel" class="offcanvas offcanvas-start" id="offcanvasExample" tabindex="-1">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasExampleLabel">个人信息</h4>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="offcanvas" type="button"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <p><a aria-controls="collapseExample" aria-expanded="false" class="btn btn-outline-dark"
                      data-bs-toggle="collapse"
                      href="#collapseExample" role="button">
                    账号信息
                </a></p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <span style="font-size: 20px;font-weight: bold;">用户名：</span><span id="AdminIn"></span><br>
                        <span style="font-size: 20px;font-weight: bold;">密码：</span><span id="PassIn"></span>
                        <button class="btn btn-outline-info" data-bs-target="#exampleModal6" data-bs-toggle="modal"
                                style="display: none"
                                type="button">修改账号
                        </button>
                    </div>
                </div>
                <br>
                <p>
                    <button aria-controls="collapseWidthExample" aria-expanded="false" class="btn btn-outline-secondary"
                            data-bs-target="#collapseWidthExample" data-bs-toggle="collapse"
                            type="button">
                        个人资料
                    </button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 300px;">
                            <div class="TEA STU"><span style="font-size: 20px;font-weight: bold;">姓名：</span><span
                                    id="NameQ"></span></div>
                            <div class="DEF"><span style="font-size: 20px;font-weight: bold;">编号：</span><span
                                    th:each="cookie :${#httpServletRequest.getCookies()}"
                                    th:if="${cookie.getName().equals('name1')}" th:text="${cookie.getValue()}"></span>
                            </div>
                            <div class="STU"><span style="font-size: 20px;font-weight: bold;">年龄：</span><span
                                    th:each="cookie :${#httpServletRequest.getCookies()}"
                                    th:if="${cookie.getName().equals('age')}" th:text="${cookie.getValue()}"></span>
                            </div>
                            <div class="TEA STU"><span style="font-size: 20px;font-weight: bold;">性别：</span><span
                                    id="SexQ"></span></div>
                            <div class="STU"><span style="font-size: 20px;font-weight: bold;">学号：</span><span
                                    id="STUNUM" th:each="cookie :${#httpServletRequest.getCookies()}"
                                    th:if="${cookie.getName().equals('num')}" th:text="${cookie.getValue()}"></span>
                            </div>
                            <div class="TEA" id="TEANUM"><span
                                    style="font-size: 20px;font-weight: bold;">工号：</span><span
                                    th:each="cookie :${#httpServletRequest.getCookies()}"
                                    th:if="${cookie.getName().equals('tNum')}" th:text="${cookie.getValue()}"></span>
                            </div>
                            <div class="TEA STU"><span style="font-size: 20px;font-weight: bold;">专业：</span><span
                                    id="SubQ"></span></div>
                            <button class="btn btn-outline-warning" style="display: none;" type="button">修改个人资料</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 教师信息修改表单框 -->
<form action="#" method="post">
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">信息修改</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label" style="color: black;font-size: 20px"> 姓名：</label>
                            <span class="form-text Name" style="color: black;font-size: 20px">姓名</span>
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="col-form-label" style="color: black;font-size: 20px"> 工号：</label>
                            <span class="form-text Number" style="color: black;font-size: 20px">工号</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addona">用户名：</span>
                        <input aria-describedby="basic-addona" aria-label="admin" class="form-control initAdmin"
                               name="admin"
                               placeholder="请填写更改后的用户名" type="text">
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <span class="form-text IDrepeat" style="font-size: small"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addonb">密码：</span>
                        <input aria-describedby="basic-addonb" aria-label="password" class="form-control"
                               name="password"
                               placeholder="请填写更改后的密码" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addonc">专业：</span>
                        <input aria-describedby="basic-addonc" aria-label="subject" class="form-control" name="subject"
                               placeholder="请填写更改后的专业" type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary">确定修改</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--删除确认弹出框-->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">确定删除这位教师的信息？</h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label" style="color: black;font-size: 20px"> 姓名：</label>
                        <span class="form-text Name" style="color: black;font-size: 20px">姓名</span>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label" style="color: black;font-size: 20px"> 工号：</label>
                        <span class="form-text Number" style="color: black;font-size: 20px">工号</span>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label" style="color: black;font-size: 20px"> 专业：</label>
                        <span class="form-text Subject" style="color: black;font-size: 20px">专业</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                <a class="btn btn-primary" href="teacher/deleteTea/{Teacher.tNumber}" id="DelTea">确定删除</a>
            </div>
        </div>
    </div>
</div>
<!--新增用户弹出框-->
<form action="teacher/addTeacher" method="post">
    <div aria-hidden="true" aria-labelledby="exampleModalLabel3" class="modal fade" id="exampleModal3" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">新增教师</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">工号：</span>
                        <input aria-describedby="basic-addon1" aria-label="tNumber" class="form-control" maxlength=5
                               minlength=5 name="tNumber" required type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">姓名：</span>
                        <input aria-describedby="basic-addon2" aria-label="tName" class="form-control" name="tName"
                               required type="text">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">性别</label>
                        <select class="form-select" id="inputGroupSelect01" name="tSex">
                            <option selected value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon4">用户名：</span>
                        <input aria-describedby="basic-addon4" aria-label="admin" class="form-control initAdmin2"
                               name="admin"
                               required type="text">
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <span class="form-text IDrepeat2" style="font-size: small"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon5">密码：</span>
                        <input aria-describedby="basic-addon5" aria-label="password" class="form-control"
                               name="password"
                               required type="text">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon6">专业：</span>
                        <input aria-describedby="basic-addon6" aria-label="subject" class="form-control" name="tSubject"
                               required type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--密码修改弹出框-->
<div th:fragment="updatePassword">
    <div aria-hidden="true" aria-labelledby="exampleModalLabel4" class="modal fade" id="exampleModal4" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel4">修改密码</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto S">
                            <label class="col-form-label" style="color: black;font-size: 20px"> 用户名：</label>
                            <span class="form-text PassAdmin" style="color: black;font-size: 20px">用户名</span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon10">密码：</span>
                        <input aria-describedby="basic-addon10" aria-label="password" class="form-control" id="addPass"
                               required type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                    <button class="btn btn-primary" id="passUpdate" type="button">
                        确定修改
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--专业考试添加弹出框-->
<div th:fragment="addExamfr">
    <form action="#" id="AEform" method="post">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel5" class="modal fade" id="exampleModal5"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel5">添加专业考试</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="col-form-label" style="color: black;font-size: 20px"> 专业：</label>
                                <span class="form-text QSt" style="color: black;font-size: 20px">专业</span>
                                <input id="Es" name="eSubject" type="hidden">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon10D3">考试名称：</span>
                            <input aria-describedby="basic-addon10D3" aria-label="eName" class="form-control"
                                   name="eName"
                                   required type="text">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon10D">考试开始时间：</span>
                            <input aria-describedby="basic-addon10D" aria-label="time" class="form-control" name="time"
                                   required
                                   step="01" type="datetime-local">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon10D1">考试持续时间：</span>
                            <input aria-describedby="basic-addon10D1" aria-label="durations" class="form-control"
                                   name="durations"
                                   placeholder="单位：分" required type="number">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon10D4">备注：</span>
                            <input aria-describedby="basic-addon10D4" aria-label="remark" class="form-control"
                                   name="remark"
                                   placeholder="输入考试的一些相关信息" required type="text">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon10E">选题：</span>
                            <input aria-describedby="basic-addon10E" aria-label="qids" class="form-control" name="qids"
                                   placeholder="请输入题目编号，每个编号请用半角的,隔开" required type="text">
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div id="Ifatab">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                            <a class="btn btn-primary" type="button">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 账号修改弹出框 -->
<div th:fragment="updateAdmin">
    <form action="#" method="post">
        <div aria-hidden="true" aria-labelledby="exampleModalLabel6" class="modal fade" id="exampleModal6"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel6">账号修改</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon16">用户名：</span>
                            <input aria-describedby="basic-addon16" aria-label="admin" class="form-control initAdmin3"
                                   name="admin"
                                   placeholder="请填写更改后的用户名" type="text">
                        </div>
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <span class="form-text IDrepeat3" style="font-size: small"></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon26">密码：</span>
                            <input aria-describedby="basic-addon26" aria-label="password" class="form-control"
                                   name="password"
                                   placeholder="请填写更改后的密码" type="text">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">取消</button>
                        <button class="btn btn-primary" type="button">确定修改</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<footer class="sticky-bottom">
    <span>CopyRight</span><br>
    <span>Team：</span>重案七组<br>
    <span>Course：</span>Managerment Information Systems<br>
    <span>E-mail：</span>www.EcustCK@163.com
</footer>
</body>
<script>
$(document).ready(function(){
    /*
    弹出框信息引入
    一个事件通过函数绑定多个对象
    */
    function modalInsert(){
        //获得当前行
        var currentRow=$(this).closest("tr"); 
        var number=currentRow.find("td:eq(0)").text(); //获得当前行第一个TD值
        var name=currentRow.find("td:eq(1)").text(); 
        var subject=currentRow.find("td:eq(3)").text(); 
        $(".Number").text(number);
        $(".Name").text(name);
        $(".Subject").text(subject);
        $("#basic-addonc").next().val(subject);
        $("#DelTea").attr("href","teacher/deleteTea/"+number);
        $("#exampleModal").parent().attr("action","teacher/updateTea/"+number);
        console.log($("#DelTea").attr("href")+"\n"+$("#exampleModal").parent().attr("action"));
    }
    $("#UpDate,#DelEte,#DelTea").bind("click",modalInsert);
    $("ul li").children("a[aria-current='page']").bind("click",modalInsert);
    $("ul.dropdown-menu").find("button.TEA").click(function(){
        $(".QSt").text($("#SubQ").text());
    });
    $("#Modal5").click(function(){
        $(".QSt").text($("#SubQ").text());
    });



        /*
        尚未完善的功能
        $("#PassIn").next().click(function(){
        $(".initAdmin3").val($("#AdminIn").text());
        $("#basic-addon26").next().val($("#PassIn").text());
        */
        /*
        switch(Number($.cookie("role"))){
            case 1:{
                $("#exampleModal6").parent().attr("action","user/updateUser/"+$("#collapseWidthExample").find(".DEF").text());
            }
            case 2:{
                $("#exampleModal6").parent().attr("action","user/updateUser/"+$("#TEANUM").find("span").last().text());
            }
            case 3:{
                $("#exampleModal6").parent().attr("action","user/updateUser/"+$("#STUNUM").find("span").last().text());
            }
            default:{
                alert("您的身份未确定！");
            }
        }
    });*/
    /*
    $("#exampleModal6").find("button .btn-primary").click(function(){
        console.log($("#exampleModal6").parent().attr("action"));
    });*/

    /*
    Ajax检验用户名是否重复
    */
    $(".initAdmin").change(function(){
        var ad=$(".initAdmin").val();
        $.post("/CheckAdmin",{admin:ad},function(Admin){
            $(".IDrepeat").html(Admin);
        });
    });
    $(".initAdmin2").change(function(){
        var ad2=$(".initAdmin2").val();
        $.post("/CheckAdmin",{admin:ad2},function(Admin){
            $(".IDrepeat2").html(Admin);
        });
    });
    $(".initAdmin3").change(function(){
        var ad3=$(".initAdmin3").val();
        $.post("/CheckAdmin",{admin:ad3},function(Admin){
            $(".IDrepeat3").html(Admin);
        });
    });
});




</script>
</html>
